<ul ngbNav #nav="ngbNav"  [(activeId)]="activeTab"  class="nav-pills">
  <li ngbNavItem="tab-history">
    <a ngbNavLink>業務経歴書一覧</a>
    <ng-template ngbNavContent ><app-historylist (event)="onReceiveEventFromChild($event)"></app-historylist></ng-template>
  </li>
  <li ngbNavItem="tab-historylist">
    <a ngbNavLink>新規/更新</a>
    <ng-template ngbNavContent ><app-history></app-history></ng-template>
  </li>
  <!--
  <li ngbNavItem="tab-json">
    <a ngbNavLink>JSon</a>
    <ng-template ngbNavContent ><app-json></app-json></ng-template>
  </li>
  -->
</ul>
<div [ngbNavOutlet]="nav"></div>

