<div *ngIf="errmessage">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>ERROR</strong>
    {{errmessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div *ngIf="message">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>SUCCESS</strong>
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>


<div class="card text-center w-50 mx-auto">
  <div class="card-header">
    <h3><b>パスワード再設定</b></h3>
  </div>
  <div class="card-body">

    <div class="confirmation" *ngIf="!successfullySignup">
      <form [formGroup]="forgetForm" (ngSubmit)="onSubmitForget(forgetForm.value)">
        <div class="form-group text-left">
          <label>メールアドレス</label>
          <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
        </div>
        <button type="submit" class="btn btn-primary">認証コード送信</button>
      </form>
    </div>
    <p class="mt-5" *ngIf="!successfullySignup">検証コードを入力する場合はこちら</p>
    <button (click)="successfullySignup = true" *ngIf="!successfullySignup" class="btn btn-secondary">検証コードで認証</button>

    <div class="confirmation" *ngIf="successfullySignup">
      <form [formGroup]="confirmationForm" (ngSubmit)="onForgotPasswordSubmit(confirmationForm.value)">
        <div class="form-group text-left">
          <label>メールアドレス</label>
          <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
        </div>
        <div class="form-group text-left">
          <label>検証コード</label>
          <input type="email" class="form-control" placeholder="Enter confirmationCode" formControlName="confirmationCode">
        </div>
        <div class="form-group text-left">
          <label>パスワード</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <button type="submit" class="my-3 btn btn-primary">パスワード再設定</button>
      </form>
      <button (click)="successfullySignup = false" class="btn btn-secondary">もどる</button>
    </div>
  </div>
</div>

