<div class="card-header">
  認証処理
</div>
<div class="card-body">
  <div>
  </div>
  <div>
    <form [formGroup]="fmGroup" (ngSubmit)="onSubmit()">
      <div class="form-group text-left">
        <label>メールアドレス</label>
        <input type="email" class="form-control" placeholder="Enter email"
          formControlName="email" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
            <div *ngIf="email.errors.required">
              この項目は必須です
            </div>
            <div *ngIf="email.errors.email">
              メールアドレスを入力して下さい
            </div>
        </div>
      </div>
      <div class="form-group text-left">
        <label>認証コード</label>
        <input type="text" class="form-control" placeholder="999999" formControlName="code" />
        <div *ngIf="code.invalid && (code.dirty || code.touched)"
            class="alert alert-danger">
            <div *ngIf="code.errors.required">
              この項目は必須です
            </div>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="fmGroup.invalid">認証</button>
      </div>
    </form>
  </div>
</div>

